<!DOCTYPE html>
<html lang="en">
  <head>
    <title>home</title>
  </head>
  <body>
    <h1>welcome</h1>

    <a href="/users">see all users</a>
    <a style="margin: 30px" href="/signup">create account</a>
  </body>
</html>
