<!DOCTYPE html>
<html lang="en">
  <head>
    >
    <title>home</title>
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <h1>Sign UP</h1>

    <div>
      <form action="/register" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="enter name" />
        <input type="text" name="email" placeholder="enter email" />
        <input type="text" name="phone" placeholder="enter phone" />
        <input type="text" name="state" placeholder="enter state" />
        <input type="text" name="address" placeholder="enter state" />
        <input type="text" name="country" placeholder="enter country" />
        <input type="text" name="city" placeholder="enter city" />
        <input type="number" name="zip" placeholder="zip" />
        <input type="file" name="img" />

        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
